x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  logstash:
    volumes:
      - ./config/logstash-http/http-file-pipeline.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      - ./data/logs/http:/usr/share/logstash/data:rw
    environment:
      LOGFILE_FORMAT_STRING: '/usr/share/logstash/data/http-log-%{+YYYY-MM-dd-HH}.json'
      LS_JAVA_OPTS: "-Xms512m -Xmx512m"
    logging: *default-logging
  stats-logstash:
    volumes:
      - ./config/logstash-stats/stats-file-pipeline.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      - ./data/logs/stats:/usr/share/logstash/data:rw
    environment:
      LOGFILE_FORMAT_STRING: '/usr/share/logstash/data/stats-%{+YYYY-MM-dd-HH}.json'
      LS_JAVA_OPTS: "-Xms512m -Xmx512m"
    logging: *default-logging
  encrypt:
    image: redpencil/file-encryption-service:1.1.0
    volumes:
      - ./data/logs/http:/data/logs:rw
      - ./data/encrypted/http:/data/encrypted:rw
      - ./keys:/keys:ro
    environment:
      ENCRYPT_RECIPIENT: 'info@redpencil.io' # change to your GPG key id
      ENCRYPT_AFTER_MINUTES: 60
      ENCRYPT_GLOB: '/data/logs/http-log-*.json'
      ENCRYPTED_DIR: '/data/encrypted'
      #ENCRYPT_INTERVAL: 3600 # default value
    logging: *default-logging
  stats-compress:
    image: redpencil/file-compression-service:1.0.0
    volumes:
      - ./data/logs/stats:/data/logs:rw
      - ./data/compressed/stats:/data/compressed:rw
    environment:
      COMPRESSION_GLOB: '/data/logs/stats-*.json'
    logging: *default-logging
