x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  logstash:
    volumes:
      - ./config/logstash-http/http-visualize-pipeline.conf:/usr/share/logstash/pipeline/logstash.conf:ro
    environment:
      LS_JAVA_OPTS: "-Xms256m -Xmx256m"
    logging: *default-logging
  stats-logstash:
    volumes:
      - ./config/logstash-stats/stats-visualize-pipeline.conf:/usr/share/logstash/pipeline/logstash.conf:ro
    logging: *default-logging
