version: '3.6'

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.9.0
    volumes:
      - ./data/esdata:/usr/share/elasticsearch/data
      - ./config/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
    environment:
      http.max_content_length: 200MB
      ES_JAVA_OPTS: "-Xms256m -Xmx256m"
    logging: *default-logging
  kibana:
    image: docker.elastic.co/kibana/kibana-oss:7.6.2
    depends_on:
      - elasticsearch
    # ports:
    #   - 127.0.0.1:5601:5601
    volumes:
      - ./scripts/kibana/:/app/scripts/
      - ./config/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
      - ./config/kibana/kbn_network_7.6.2_patched.tar.gz:/kbn_network.tar.gz:ro
    user: root
    # Probably the simplest way to install a plugin.
    command: |
      sh -c "/bin/tar -xf /kbn_network.tar.gz -C /usr/share/kibana/plugins;
             /usr/local/bin/kibana-docker --allow-root;"

    logging: *default-logging
  visualize-scripts:
    image: semtech/mu-scripts:1.0.0
    volumes:
      - ./scripts/visualize-scripts:/app/scripts/
    restart: "no"
