version: "3.6"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  elasticsearch:
    image: elasticsearch:8.11.0
    volumes:
      - ./data/esdata:/usr/share/elasticsearch/data
      - ./config/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
    environment:
      http.max_content_length: 200MB
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
    logging: *default-logging
  kibana:
    image: kibana:8.11.0
    depends_on:
      - elasticsearch
    ports:
      - 127.0.0.1:5601:5601
    volumes:
      - ./scripts/kibana/:/app/scripts/
      - ./config/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
      - ./config/kibana/kbn_network_7.6.2_patched.tar.gz:/kbn_network.tar.gz:ro
    user: root
    # Probably the simplest way to install a plugin.
    command: |
      sh -c "/bin/tar -xf /kbn_network.tar.gz -C /usr/share/kibana/plugins;
             /usr/local/bin/kibana-docker --allow-root;"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:8514"
  visualize-scripts:
    image: semtech/mu-scripts:1.0.0
    volumes:
      - ./scripts/visualize-scripts:/app/scripts/
    restart: "no"
  log-alert:
    image: log-alert-service-dev
    logging: *default-logging
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./config/log-alert/config.json:/config/config.json:ro
    environment:
      CHAT_ACCESS_TOKEN: "yoursecretaccesstoken"
      CHAT_USER_ID: "yoursecretchatuserid"
    ports:
      - 8881:80
      - 8514:514/udp
